*{
  padding: 0;
  margin: 0;
}

h2{
  text-align: center;
}

.container-tasks {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /*Eviter l'etirement des autres colonnes*/
  margin-bottom: 20px;
}

.tasks-onhold,
.tasks-onprogress,
.tasks-done {
  width: 27%;
  padding: 10px;
  min-height: 100px;
  border-radius: 20px;
}

.tasks-onhold,
.tasks-onprogress,
.tasks-done {
  color: aliceblue;
}

.tasks-onhold {
  background-color: blue;
}

.tasks-onprogress {
  background-color: orange;
}

.tasks-done {
  background-color: green;
}

.tasks {
  margin: 5px 0;
  padding: 5px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.task-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-action {
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.trash {
  color: red;
  cursor: pointer;
  font-size: 18px;
}

footer {
  bottom: 0;
  left: 0;
  z-index: 1000;
  margin-top: "20px";
  height: 30px;
}